* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

img {
  border: none;
}

ol,
ul,
dl,
li {
  list-style: none;
}

em,
i {
  font-style: normal;
}

input,
button {
  outline: none;
  border: none;
  background: transparent;
  background: transparent;
}

div {
  box-sizing: border-box;
  overflow: overlay;
}

:root {
  --light: #c7ffed;
  --dark: #012030;
  --secondary: #3ca6a6;
  --hover: #022f46;
  --success: #67c23a;
  --warning: #e6563c;
  --danger: #f56c6c;
  --error: #f56c6c;
  --info: #0fc2c0;
}

/* 整根滚动条 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
/* 滑块 */
::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 6px;
}

/* 轨道 */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* 垂直和水平交汇处 */
::-webkit-scrollbar-corner {
  background-color: transparent;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: overlay;
  color: var(--dark);
  background: url(/images/bg.jpg);
  font-size: 16px;
  line-height: 1.5;
}
